/* Import custom theme */
@import './styles/theme.css';
@import './styles/canteen.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here.
All colors MUST be HSL.
*/

@layer base {
  :root {
    color-scheme: light only;
  }

  * {
    @apply border-border;
    color-scheme: light only;
  }

  html {
    color-scheme: light only;
  }

  body {
    @apply bg-background text-foreground;
  }
}
